@tailwind base;
@tailwind components;
@tailwind utilities;

.background-gradient {
  background: linear-gradient(to right, #09203f, #2d70a2);
  height: auto; /* Full screen height */
  width: 100%; /* Full width */
}
.text-gradient {
  text-colo: linear-gradient(to right, #09203f, #2d70a2);
  height: auto; /* Full screen height */
  width: 100%; /* Full width */
}
.border-gradient {
  border: linear-gradient(to right, #09203f, #2d70a2);
}
.background-gradient-hover:hover {
  background: linear-gradient(to right, #09203f, #2d70a2);
  height: auto; /* Full screen height */
  width: 100%; /* Full width */
}

.background-gradient1 {
  background: linear-gradient(to right, #09203f, #2d70a2);
}
.border-gradient {
  border-color: #024295;
}
.background-gradient {
  background: linear-gradient(to right, #09203f, #2d70a2);
  height: auto; /* Full screen height */
  width: 100%; /* Full width */
}

.btn-grad {
  background-image: linear-gradient(
    to right,
    #ff3cac 0%,
    #26a0da 51%,
    #09203f 100%
  );
}
.btn-grad {
  padding: 5px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  display: block;
}

.btn-grad:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

/*  */

/*  */

.bg-circle {
  background-image: linear-gradient(
    -225deg,
    #ff3cac 0%,
    #562b7c 52%,
    #2b86c5 100%
  );
}

/* Scroll */
/* Customize the scrollbar */
::-webkit-scrollbar {
  height: 2px; /* Height for horizontal scrollbar */
  width: 4px;
}

::-webkit-scrollbar-track {
  background-color: #f0f0f0; /* Track color */
}

::-webkit-scrollbar-thumb {
  background-color: #48DB33; /* Thumb color */
  border-radius: 1px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #555; /* Thumb color when hovered */
}

/*End Shank image */
@layer base {
  :root {
    --color-1: 0 100% 63%;
    --color-2: 270 100% 63%;
    --color-3: 210 100% 63%;
    --color-4: 195 100% 63%;
    --color-5: 90 100% 63%;

    --radius: 0.5rem;
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;
    --primary: 110.87 57.5% 47.06%;
    --primary-dark: 112.87 60.5% 39.06%;
    --primary-foreground: 0 0% 98%;
    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;
    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }
  .dark {
    --radius: 0.5rem;
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;
    --primary: 110.87 57.5% 47.06%;
    --primary-dark: 112.87 60.5% 39.06%;
    --primary-foreground: 0 0% 98%;
    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;
    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
